@charset "utf-8";

/*body {
  background: #d4d4d4;
  text-align: center;
  font-family: sans-serif; }*/

/*h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }*/
img {
  max-width: none;
}

header img {
  display: block;
  margin: 0 auto;
}
.container {
  width: 980px;
}
.footer img {
  display: block;
  margin: 0 auto;
}
.modal {
  width: 650px;
}

.modal.fade.in {
  top: 35%;
}

.modal-body {
  max-height: 750px;
}
.carousel-control {
  top: 372px;
}

#main-gallery-images {
  margin: 0 auto;
  position: relative;
  float: right;
}

#categories {
  height: 200px;
  margin: 10px;
  border: dashed;
}
#profile {
  position: relative;
}
.profile-gallery {
  clear: both;
  margin: 10px;
  position: relative;
}

.profile-gallery a {
  position: absolute;
  background-color: green;
  opacity: .1;
}

#profile-link-1 {
  height: 247px;
  width: 227px;
  top: 59px;
  left: -2px;
}

#profile-link-2 {
  height: 247px;
  width: 186px;
  top: 370px;
  left: -2px;
}

#profile-link-3 {
  height: 247px;
  width: 186px;
  top: 370px;
  left: 200px;
  background: none;
}

#gallery-link {
  position: absolute;
  background-color: green;
  opacity: .1;
  height: 178px;
  width: 186px;
  top: 85px;
  left: 252px;
}
#footer {
  margin: 0 auto;
}