---
title: artbits
---
#main-container
  %header
    = image_tag "header.jpg"
  .container

    = image_tag "top_channel_banner.jpg"
    = image_tag "celebrity_profile.jpg"

  %footer.footer#footer
    = image_tag "footer.jpg"